{:deps
 {io.github.aamedina/omg
  {:git/sha "4da4b69158edfb0acbac0408f0a28942eede5a0e"}
  org.clojure/clojure
  {:mvn/version "1.11.1"}}
 :paths ["src/clj" "src/cljc" "classes"]
 :aliases
 {:dev
  {:extra-deps
   {com.walmartlabs/schematic
    {:mvn/version "1.3.0"}
    com.stuartsierra/component.repl
    {:mvn/version "0.2.0"}
    org.clojure/test.check
    {:mvn/version "1.1.1"}
    org.clojure/tools.namespace
    {:mvn/version "1.3.0"}
    org.slf4j/slf4j-simple
    {:mvn/version "1.7.36"}}
   :extra-paths ["dev"]
   :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                 "-XX:+HeapDumpOnOutOfMemoryError"
                 "-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]}}}
