{:deps
 {io.github.aamedina/rdf
  {:sha     "f8d1424a8f1e17a84bf05f6b4f551999aea3eb28"
   :git/url "https://github.com/aamedina/rdf.git"}}
 :paths ["src/clj" "src/cljc" "classes" "resources"]
 :aliases
 {:dev
  {:extra-deps
   {org.obolibrary.robot/robot-core
    {:mvn/version "1.9.5"}
    com.walmartlabs/schematic
    {:mvn/version "1.3.0"}
    com.stuartsierra/component.repl
    {:mvn/version "1.0.0"}
    org.clojure/test.check
    {:mvn/version "1.1.1"}
    org.clojure/tools.namespace
    {:mvn/version "1.4.4"}
    org.slf4j/slf4j-simple
    {:mvn/version "2.0.7"}
    vlaaad/reveal
    {:mvn/version "1.3.280"}}
   :extra-paths ["dev"]
   :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                 "-XX:+HeapDumpOnOutOfMemoryError"
                 "-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]}}}
