{:vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :sc/refs      [:fibo :db]
          :boot         [net.wikipunk.fibo.boot]
          :config       {:xtdb.lucene/lucene-store
                         {:db-dir ".vocab/lucene"}}}
 :fibo   {:sc/create-fn net.wikipunk.fibo/map->FIBO}
 :client {:sc/create-fn datomic.client.api/client
          :server-type  :dev-local
          :system       "dev"}
 :db     {:sc/create-fn net.wikipunk.datomic/map->Connection
          :sc/refs      [:client]
          :db-name      "fibo"}}
