{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :sc/refs      [:fibo]
         :init-ns      net.wikipunk.mop.init}
 :fibo  {:sc/create-fn net.wikipunk.fibo/map->FIBO
         :domains      [net.wikipunk.fibo.boot/fibo-fbc-mod
                        net.wikipunk.fibo.boot/fibo-der-mod
                        net.wikipunk.fibo.boot/fibo-bp-mod
                        net.wikipunk.fibo.boot/fibo-loan-mod
                        net.wikipunk.fibo.boot/fibo-sec-mod
                        net.wikipunk.fibo.boot/fibo-fnd-mod
                        net.wikipunk.fibo.boot/fibo-be-mod
                        net.wikipunk.fibo.boot/fibo-cae-mod
                        net.wikipunk.fibo.boot/fibo-md-mod
                        net.wikipunk.fibo.boot/fibo-ind-mod]
         :modules      [net.wikipunk.fibo.boot/fibo-be-corp-mod
                        net.wikipunk.fibo.boot/fibo-be-fct-mod
                        net.wikipunk.fibo.boot/fibo-be-ge-mod
                        net.wikipunk.fibo.boot/fibo-be-le-mod
                        net.wikipunk.fibo.boot/fibo-be-oac-mod
                        net.wikipunk.fibo.boot/fibo-be-plc-mod
                        net.wikipunk.fibo.boot/fibo-be-ptr-mod
                        net.wikipunk.fibo.boot/fibo-be-sps-mod
                        net.wikipunk.fibo.boot/fibo-be-tr-mod
                        net.wikipunk.fibo.boot/fibo-bp-iss-mod
                        net.wikipunk.fibo.boot/fibo-bp-prc-mod
                        net.wikipunk.fibo.boot/fibo-cae-ce-mod
                        net.wikipunk.fibo.boot/fibo-der-cr-mod
                        net.wikipunk.fibo.boot/fibo-der-drc-mod
                        net.wikipunk.fibo.boot/fibo-der-rat-mod
                        net.wikipunk.fibo.boot/fibo-der-sbd-mod
                        net.wikipunk.fibo.boot/fibo-fbc-dae-mod
                        net.wikipunk.fibo.boot/fibo-fbc-fct-mod
                        net.wikipunk.fibo.boot/fibo-fbc-fi-mod
                        net.wikipunk.fibo.boot/fibo-fbc-pas-mod
                        net.wikipunk.fibo.boot/fibo-fnd-aap-mod
                        net.wikipunk.fibo.boot/fibo-fnd-acc-mod
                        net.wikipunk.fibo.boot/fibo-fnd-agr-mod
                        net.wikipunk.fibo.boot/fibo-fnd-arr-mod
                        net.wikipunk.fibo.boot/fibo-fnd-dt-mod
                        net.wikipunk.fibo.boot/fibo-fnd-gao-mod
                        net.wikipunk.fibo.boot/fibo-fnd-law-mod
                        net.wikipunk.fibo.boot/fibo-fnd-oac-mod
                        net.wikipunk.fibo.boot/fibo-fnd-org-mod
                        net.wikipunk.fibo.boot/fibo-fnd-pas-mod
                        net.wikipunk.fibo.boot/fibo-fnd-plc-mod
                        net.wikipunk.fibo.boot/fibo-fnd-pty-mod
                        net.wikipunk.fibo.boot/fibo-fnd-qt-mod
                        net.wikipunk.fibo.boot/fibo-fnd-rel-mod
                        net.wikipunk.fibo.boot/fibo-fnd-txn-mod
                        net.wikipunk.fibo.boot/fibo-fnd-utl-mod
                        net.wikipunk.fibo.boot/fibo-ind-ei-mod
                        net.wikipunk.fibo.boot/fibo-ind-fx-mod
                        net.wikipunk.fibo.boot/fibo-ind-ind-mod
                        net.wikipunk.fibo.boot/fibo-ind-ir-mod
                        net.wikipunk.fibo.boot/fibo-ind-mkt-mod
                        net.wikipunk.fibo.boot/fibo-loan-ln-mod
                        net.wikipunk.fibo.boot/fibo-loan-reln-mod
                        net.wikipunk.fibo.boot/fibo-loan-spc-mod
                        net.wikipunk.fibo.boot/fibo-md-civx-mod
                        net.wikipunk.fibo.boot/fibo-md-dbtx-mod
                        net.wikipunk.fibo.boot/fibo-md-derx-mod
                        net.wikipunk.fibo.boot/fibo-md-temx-mod
                        net.wikipunk.fibo.boot/fibo-sec-dbt-mod
                        net.wikipunk.fibo.boot/fibo-sec-eq-mod
                        net.wikipunk.fibo.boot/fibo-sec-fnd-mod
                        net.wikipunk.fibo.boot/fibo-sec-sec-mod]
         :submodules   [net.wikipunk.fibo.boot/fibo-be-corp-corp
                        net.wikipunk.fibo.boot/fibo-be-fct-fct
                        net.wikipunk.fibo.boot/fibo-be-fct-pub
                        net.wikipunk.fibo.boot/fibo-be-ge-caj
                        net.wikipunk.fibo.boot/fibo-be-ge-casj
                        net.wikipunk.fibo.boot/fibo-be-ge-cbj
                        net.wikipunk.fibo.boot/fibo-be-ge-easj
                        net.wikipunk.fibo.boot/fibo-be-ge-eeuj
                        net.wikipunk.fibo.boot/fibo-be-ge-euj
                        net.wikipunk.fibo.boot/fibo-be-ge-ge
                        net.wikipunk.fibo.boot/fibo-be-ge-mxj
                        net.wikipunk.fibo.boot/fibo-be-ge-neuj
                        net.wikipunk.fibo.boot/fibo-be-ge-sasj
                        net.wikipunk.fibo.boot/fibo-be-ge-seasj
                        net.wikipunk.fibo.boot/fibo-be-ge-seuj
                        net.wikipunk.fibo.boot/fibo-be-ge-ukj
                        net.wikipunk.fibo.boot/fibo-be-ge-usj
                        net.wikipunk.fibo.boot/fibo-be-ge-wasj
                        net.wikipunk.fibo.boot/fibo-be-ge-weuj
                        net.wikipunk.fibo.boot/fibo-be-le-cb
                        net.wikipunk.fibo.boot/fibo-be-le-fbo
                        net.wikipunk.fibo.boot/fibo-be-le-lei
                        net.wikipunk.fibo.boot/fibo-be-le-lp
                        net.wikipunk.fibo.boot/fibo-be-le-usee
                        net.wikipunk.fibo.boot/fibo-be-le-usex
                        net.wikipunk.fibo.boot/fibo-be-oac-cctl
                        net.wikipunk.fibo.boot/fibo-be-oac-cown
                        net.wikipunk.fibo.boot/fibo-be-oac-cpty
                        net.wikipunk.fibo.boot/fibo-be-oac-exec
                        net.wikipunk.fibo.boot/fibo-be-oac-opty
                        net.wikipunk.fibo.boot/fibo-be-plc-plc
                        net.wikipunk.fibo.boot/fibo-be-ptr-ptr
                        net.wikipunk.fibo.boot/fibo-be-sps-sps
                        net.wikipunk.fibo.boot/fibo-be-tr-tr
                        net.wikipunk.fibo.boot/fibo-bp-iss-ambs
                        net.wikipunk.fibo.boot/fibo-bp-iss-dbti
                        net.wikipunk.fibo.boot/fibo-bp-iss-doc
                        net.wikipunk.fibo.boot/fibo-bp-iss-ipo
                        net.wikipunk.fibo.boot/fibo-bp-iss-mbs
                        net.wikipunk.fibo.boot/fibo-bp-iss-muni
                        net.wikipunk.fibo.boot/fibo-bp-iss-pmbs
                        net.wikipunk.fibo.boot/fibo-bp-iss-prc
                        net.wikipunk.fibo.boot/fibo-bp-prc-fcp
                        net.wikipunk.fibo.boot/fibo-cae-ce-15022
                        net.wikipunk.fibo.boot/fibo-cae-ce-GLEIF
                        net.wikipunk.fibo.boot/fibo-cae-ce-act
                        net.wikipunk.fibo.boot/fibo-cae-ce-srca
                        net.wikipunk.fibo.boot/fibo-der-cr-cds
                        net.wikipunk.fibo.boot/fibo-der-drc-bsc
                        net.wikipunk.fibo.boot/fibo-der-drc-comm
                        net.wikipunk.fibo.boot/fibo-der-drc-cur
                        net.wikipunk.fibo.boot/fibo-der-drc-exo
                        net.wikipunk.fibo.boot/fibo-der-drc-ff
                        net.wikipunk.fibo.boot/fibo-der-drc-ma
                        net.wikipunk.fibo.boot/fibo-der-drc-opt
                        net.wikipunk.fibo.boot/fibo-der-drc-raw
                        net.wikipunk.fibo.boot/fibo-der-drc-swp
                        net.wikipunk.fibo.boot/fibo-der-drc-swpind
                        net.wikipunk.fibo.boot/fibo-der-rtd-irsind
                        net.wikipunk.fibo.boot/fibo-der-rtd-irswp
                        net.wikipunk.fibo.boot/fibo-der-rtd-rtd
                        net.wikipunk.fibo.boot/fibo-der-sbd-eqs
                        net.wikipunk.fibo.boot/fibo-der-sbd-sbd
                        net.wikipunk.fibo.boot/fibo-fbc-dae-cre
                        net.wikipunk.fibo.boot/fibo-fbc-dae-crt
                        net.wikipunk.fibo.boot/fibo-fbc-dae-dbt
                        net.wikipunk.fibo.boot/fibo-fbc-dae-gty
                        net.wikipunk.fibo.boot/fibo-fbc-fct-bc
                        net.wikipunk.fibo.boot/fibo-fbc-fct-bci
                        net.wikipunk.fibo.boot/fibo-fbc-fct-breg
                        net.wikipunk.fibo.boot/fibo-fbc-fct-cafse
                        net.wikipunk.fibo.boot/fibo-fbc-fct-cajrga
                        net.wikipunk.fibo.boot/fibo-fbc-fct-eufse
                        net.wikipunk.fibo.boot/fibo-fbc-fct-eufseind
                        net.wikipunk.fibo.boot/fibo-fbc-fct-eurga
                        net.wikipunk.fibo.boot/fibo-fbc-fct-fse
                        net.wikipunk.fibo.boot/fibo-fbc-fct-ireg
                        net.wikipunk.fibo.boot/fibo-fbc-fct-mkt
                        net.wikipunk.fibo.boot/fibo-fbc-fct-mkti
                        net.wikipunk.fibo.boot/fibo-fbc-fct-ra
                        net.wikipunk.fibo.boot/fibo-fbc-fct-rga
                        net.wikipunk.fibo.boot/fibo-fbc-fct-usfse
                        net.wikipunk.fibo.boot/fibo-fbc-fct-usfsind
                        net.wikipunk.fibo.boot/fibo-fbc-fct-usind
                        net.wikipunk.fibo.boot/fibo-fbc-fct-usjrga
                        net.wikipunk.fibo.boot/fibo-fbc-fct-usmkt
                        net.wikipunk.fibo.boot/fibo-fbc-fi-fi
                        net.wikipunk.fibo.boot/fibo-fbc-fi-ip
                        net.wikipunk.fibo.boot/fibo-fbc-fi-stl
                        net.wikipunk.fibo.boot/fibo-fbc-pas-caa
                        net.wikipunk.fibo.boot/fibo-fbc-pas-crd
                        net.wikipunk.fibo.boot/fibo-fbc-pas-fpas
                        net.wikipunk.fibo.boot/fibo-fnd-aap-agt
                        net.wikipunk.fibo.boot/fibo-fnd-aap-ppl
                        net.wikipunk.fibo.boot/fibo-fnd-acc-4217
                        net.wikipunk.fibo.boot/fibo-fnd-acc-aeq
                        net.wikipunk.fibo.boot/fibo-fnd-acc-cur
                        net.wikipunk.fibo.boot/fibo-fnd-agr-agr
                        net.wikipunk.fibo.boot/fibo-fnd-agr-ctr
                        net.wikipunk.fibo.boot/fibo-fnd-arr-arr
                        net.wikipunk.fibo.boot/fibo-fnd-arr-asmt
                        net.wikipunk.fibo.boot/fibo-fnd-arr-cls
                        net.wikipunk.fibo.boot/fibo-fnd-arr-doc
                        net.wikipunk.fibo.boot/fibo-fnd-arr-id
                        net.wikipunk.fibo.boot/fibo-fnd-arr-lif
                        net.wikipunk.fibo.boot/fibo-fnd-arr-rep
                        net.wikipunk.fibo.boot/fibo-fnd-arr-rt
                        net.wikipunk.fibo.boot/fibo-fnd-dt-bd
                        net.wikipunk.fibo.boot/fibo-fnd-dt-fd
                        net.wikipunk.fibo.boot/fibo-fnd-dt-oc
                        net.wikipunk.fibo.boot/fibo-fnd-gao-obj
                        net.wikipunk.fibo.boot/fibo-fnd-law-cor
                        net.wikipunk.fibo.boot/fibo-fnd-law-jur
                        net.wikipunk.fibo.boot/fibo-fnd-law-lcap
                        net.wikipunk.fibo.boot/fibo-fnd-oac-ctl
                        net.wikipunk.fibo.boot/fibo-fnd-oac-oac
                        net.wikipunk.fibo.boot/fibo-fnd-oac-own
                        net.wikipunk.fibo.boot/fibo-fnd-org-fm
                        net.wikipunk.fibo.boot/fibo-fnd-org-org
                        net.wikipunk.fibo.boot/fibo-fnd-pas-pas
                        net.wikipunk.fibo.boot/fibo-fnd-pas-psch
                        net.wikipunk.fibo.boot/fibo-fnd-plc-adr
                        net.wikipunk.fibo.boot/fibo-fnd-plc-fac
                        net.wikipunk.fibo.boot/fibo-fnd-plc-loc
                        net.wikipunk.fibo.boot/fibo-fnd-plc-uspsa
                        net.wikipunk.fibo.boot/fibo-fnd-plc-uspsai
                        net.wikipunk.fibo.boot/fibo-fnd-plc-vrt
                        net.wikipunk.fibo.boot/fibo-fnd-pty-pty
                        net.wikipunk.fibo.boot/fibo-fnd-pty-rl
                        net.wikipunk.fibo.boot/fibo-fnd-qt-qtu
                        net.wikipunk.fibo.boot/fibo-fnd-rel-rel
                        net.wikipunk.fibo.boot/fibo-fnd-txn-mkt
                        net.wikipunk.fibo.boot/fibo-fnd-txn-rea
                        net.wikipunk.fibo.boot/fibo-fnd-txn-sec
                        net.wikipunk.fibo.boot/fibo-fnd-utl-alx
                        net.wikipunk.fibo.boot/fibo-fnd-utl-av
                        net.wikipunk.fibo.boot/fibo-ge-ge-ctlaj
                        net.wikipunk.fibo.boot/fibo-ge-ge-saj
                        net.wikipunk.fibo.boot/fibo-ind-ei-caei
                        net.wikipunk.fibo.boot/fibo-ind-ei-ei
                        net.wikipunk.fibo.boot/fibo-ind-ei-usei
                        net.wikipunk.fibo.boot/fibo-ind-fx-fx
                        net.wikipunk.fibo.boot/fibo-ind-ind-ind
                        net.wikipunk.fibo.boot/fibo-ind-ir-cm
                        net.wikipunk.fibo.boot/fibo-ind-ir-ir
                        net.wikipunk.fibo.boot/fibo-ind-ir-mdp
                        net.wikipunk.fibo.boot/fibo-ind-mkt-bas
                        net.wikipunk.fibo.boot/fibo-ind-mkt-eqind
                        net.wikipunk.fibo.boot/fibo-loan-ln-app
                        net.wikipunk.fibo.boot/fibo-loan-ln-ev
                        net.wikipunk.fibo.boot/fibo-loan-ln-ln
                        net.wikipunk.fibo.boot/fibo-loan-ln-reg
                        net.wikipunk.fibo.boot/fibo-loan-reln-cnst
                        net.wikipunk.fibo.boot/fibo-loan-reln-hmda
                        net.wikipunk.fibo.boot/fibo-loan-reln-mtg
                        net.wikipunk.fibo.boot/fibo-loan-spc-cns
                        net.wikipunk.fibo.boot/fibo-loan-spc-com
                        net.wikipunk.fibo.boot/fibo-loan-spc-mar
                        net.wikipunk.fibo.boot/fibo-loan-spc-prod
                        net.wikipunk.fibo.boot/fibo-loan-spc-stu
                        net.wikipunk.fibo.boot/fibo-md-civx-fun
                        net.wikipunk.fibo.boot/fibo-md-dbtx-aly
                        net.wikipunk.fibo.boot/fibo-md-der-fut
                        net.wikipunk.fibo.boot/fibo-md-derx-eto
                        net.wikipunk.fibo.boot/fibo-md-temx-crs
                        net.wikipunk.fibo.boot/fibo-md-temx-trs
                        net.wikipunk.fibo.boot/fibo-sec-dbt-abs
                        net.wikipunk.fibo.boot/fibo-sec-dbt-bnd
                        net.wikipunk.fibo.boot/fibo-sec-dbt-cdo
                        net.wikipunk.fibo.boot/fibo-sec-dbt-dbti
                        net.wikipunk.fibo.boot/fibo-sec-dbt-ex
                        net.wikipunk.fibo.boot/fibo-sec-dbt-lpn
                        net.wikipunk.fibo.boot/fibo-sec-dbt-mbs
                        net.wikipunk.fibo.boot/fibo-sec-dbt-pbs
                        net.wikipunk.fibo.boot/fibo-sec-dbt-syn
                        net.wikipunk.fibo.boot/fibo-sec-dbt-tstd
                        net.wikipunk.fibo.boot/fibo-sec-eq-10962
                        net.wikipunk.fibo.boot/fibo-sec-eq-dr
                        net.wikipunk.fibo.boot/fibo-sec-eq-eq
                        net.wikipunk.fibo.boot/fibo-sec-eq-eqind
                        net.wikipunk.fibo.boot/fibo-sec-fund-civ
                        net.wikipunk.fibo.boot/fibo-sec-fund-fund
                        net.wikipunk.fibo.boot/fibo-sec-sec-ast
                        net.wikipunk.fibo.boot/fibo-sec-sec-bsk
                        net.wikipunk.fibo.boot/fibo-sec-sec-cls
                        net.wikipunk.fibo.boot/fibo-sec-sec-id
                        net.wikipunk.fibo.boot/fibo-sec-sec-idind
                        net.wikipunk.fibo.boot/fibo-sec-sec-iss
                        net.wikipunk.fibo.boot/fibo-sec-sec-lst
                        net.wikipunk.fibo.boot/fibo-sec-sec-pls
                        net.wikipunk.fibo.boot/fibo-sec-sec-rst
                        net.wikipunk.fibo.boot/fibo-sec-sec-sch]}}
